/*!
Theme Name: Latitudes template
Author: Rachel Rippy
Author URI: http://www.rachelrippy.com
Description: A custom theme built for Latitudes.
=======

/* Fonts 
----------------------------------------------------------------------------------------

font-family: 'Open Sans', sans-serif;
Open+Sans:400italic,600italic,700italic,800italic,400,800,600,700

*/

@font-face {
    font-family: 'gotham_boldregular';
    src: url('fonts/ufonts.com_gotham_bold-webfont.eot');
    src: url('fonts/ufonts.com_gotham_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ufonts.com_gotham_bold-webfont.woff') format('woff'),
         url('fonts/ufonts.com_gotham_bold-webfont.ttf') format('truetype'),
         url('fonts/ufonts.com_gotham_bold-webfont.svg#gotham_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_ultraregular';
    src: url('fonts/ufonts.com_gotham_ultra-webfont.eot');
    src: url('fonts/ufonts.com_gotham_ultra-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ufonts.com_gotham_ultra-webfont.woff') format('woff'),
         url('fonts/ufonts.com_gotham_ultra-webfont.ttf') format('truetype'),
         url('fonts/ufonts.com_gotham_ultra-webfont.svg#gotham_ultraregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* HTML Reset
----------------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* remove scroll-bar shift */
html { 
	overflow-y: scroll;
}

.clear, .clearfloat {
	clear: both;
	display: block;
	font-size: 1px;
    height:0px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
}
	
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */



/* Main stuff
----------------------------------------------------------------------------------------*/

#header_wrap, #footer {
	width: 100%;
}
#main {
	clear: both;
}


/* sticky footer wraps etc. */
html, body {
	height: 100%;
}
#wrapper_all {
	height: 100%;
	width: 100%;
}
#wrapper {
	height: auto !important;
	height: 100%;
	min-height: 100%;
	position: relative;
	margin-bottom: -50px;
	overflow: hidden;
}
.push {
	height: 50px;
	clear: both;
}
#footer {
	position: relative;
	margin-top: -50px; /* negative value of footer height */
	height: 50px;
	clear: both;
	width: 100%;
	overflow: hidden;
} 
/*Opera Fix*/
body:before {
	content:"";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;
}
<!--[if !IE 7]>
#wrapper_all {
	display: table;
	height: 100%;
}
<!--[endif]-->

.test {
	
}



/* Text elements 
----------------------------------------------------------------------------------------*/
body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 0.875em; /* 14px */
	color: #572700;
}
p {
	margin: 15px 0;
}

.caption-text {

}

ul, ol {

}
ul {
	
}
ol {
	
}
li {
	
}



/* Links 
----------------------------------------------------------------------------------------*/
a {
	text-decoration: none;
}

a:focus,
a:active,
a:hover {
	
}



/* Headings 
----------------------------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h5 a, h6 a {
	font-weight: normal;
}

h1 {

}
h2 {
	font-family: 'gotham_ultraregular', Helvetica, Arial, sans-serif;
	font-size: 2.57142857em; /* 36px */
	letter-spacing: 0.05em;
	text-align: center;
	margin-bottom: 24px;
}
a h2 {
	color: #572700;
	text-align: left;
}
.flexslider h2 {
	position: absolute;
	top: 74%;
	left: 15%;
	color: #fff;
	margin-right: 15%;
	text-align: left;
}
h3 {
	font-family: 'gotham_boldregular', Helvetica, Arial, sans-serif;
	font-size: 1.33333333em; /* 24px */
	color: #8DC63F;
	text-align: center;
	margin: 8px 0;
	line-height: 1.3em;
}
h4, h4 a {
	font-size: 1.21428571em; /* 17px */
	font-weight: bold;
	color: #8DC63F;
	margin-top: 20px;
	
}
h5 {

}
h6 {

}



/* Naviagtion
-------------------------------------------------------------- */
nav#access {
	float: right;
}
nav#access li {
	font-family: 'gotham_boldregular', Helvetica, Arial, sans-serif;
	font-size: 1.07142857em; /* 15px */
	float: left;
	display: inline-block;
	padding: 27px 0 0 34px;
	zoom: 1;
}
nav#access li a {
	color: #572700;
}
nav#access li a:hover {
	color: #8DC63F;
}




/* Images 
----------------------------------------------------------------------------------------*/
img.alignright, .wp-caption.alignright, .alignright { 
	float: right; margin: 0 0 18px 18px; 
}
img.alignleft, .wp-caption.alignleft, .alignleft { 
	float: left; margin: 0 18px 18px 0; 
}
img.aligncenter, .wp-caption.aligncenter, .aligncenter { 
	display: block; margin: 18px auto; 
}
img.alignright, img.alignleft, img.aligncenter, img.alignnone {
}
 
.wp-caption.alignleft img, .wp-caption.alignleft img, .wp-caption.aligncenter img {
	display: block;
}




/* Header Styles
----------------------------------------------------------------------------------------*/
#header_wrap, body.home #header_wrap.main_nav_top {
	position: fixed;
	height: 70px;
	background-color: #fff;
	border-bottom: 1px solid #5A3918;
	z-index: 50;
	top: 0;
	display: none;
}
#header_wrap.main_nav_top {
	display: block;
}
header#branding {
	width: 70%;
	margin: 0 auto;
}
#site_title span {
	font-size: 1px;
	position: absolute;
	top: -600px;
}
#headergroup {
	float: left;
}
#headergroup h4 {
	display: none;
}
#headergroup h1 {
	height: 71px;
}



/* Default page Styles
----------------------------------------------------------------------------------------*/
.section_wrapper {
	width: 70%;
	margin: 0 auto;
	padding: 100px 0;
	min-height: 640px;
}
body.single .section_wrapper, body.page-id-17 .section_wrapper {
	width: 46.068376%;
	padding-right: 23.931624%;
}
.section_8, .section_11 {
	background-color: #8DC63F;
	color: #fff;
}
.section_10 {
	background-color: #572700;
	color: #fff;
}
.section_11 .section_wrapper {
	min-height: 180px;
}
.section_8 h2, .section_10 h2, .section_11 h2, .section_11 a {
	color: #fff;
}
.section_17 h2, .section_11 h2 {
	text-align: left;
}
.section_17 h2 {
	color: #8DC63F;
}
.section_11 .intro_text {
	text-align: left;
}
.section_11 a {
	text-decoration: underline;
}
.intro_text {
	font-size: 1.42857143em; /* 20px */
	text-align: center;
	width: 70%;
	margin: 0 auto;
}
.parallax_img, .parallax_img img {
	width: 100%;
}
.parallax_img {
	overflow: hidden;
	position: relative;
	min-height: 200px;
}
.parallax_img img {
	top: 0;
	position: absolute;
}




/* Home page Styles
----------------------------------------------------------------------------------------*/
.section_6, .section_60, .section_62 {
	display: none;
}
.flexslider img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}
.home_slider.flexslider {
	overflow: hidden;
}
.paralax_nav {
	width: 70%;
	top: 0;
	left: 15%;
	position: absolute;
}
.large_logo {
	width: 186px;
	height: 130px;
	background: url(images/logo_large.png) no-repeat #fff;
	z-index: 20;
	float: left;
	position: relative;
}
.menu-header_menu-container {
	position: relative;
	z-index: 15;
	float: right;
}
.menu-header_menu-container a {
	color: #fff;
}
.menu-header_menu-container a:hover {
	color: #8DC63F;
}
.menu-header_menu-container li {
	font-family: 'gotham_boldregular', Helvetica, Arial, sans-serif;
	font-size: 1.07142857em;
	float: left;
	display: inline-block;
	padding: 27px 0 0 34px;
	zoom: 1;
}
.background_section {
	zoom: 1;
	position: relative;
	width: 100%;
	height: 100%;
}



/* Sub Categories 
----------------------------------------------------------------------------------------*/
.category {
	float: left;
	width: 30.33333%;
	text-align: center;
	font-size: 1.28571429em; /* 18px */
	margin: 60px 0;
	padding: 0 1.5%;
}
.category:nth-of-type(4), .category:nth-of-type(7) {
	clear: both;
}
.category_icon {
	width: 55%;
	margin: 0 auto;
	min-width: 120px;
}
.category_icon img {
	width: 100%;
}
.section_8 h3 {
	color: #fff;
}
.section_8 .category {
	text-align: left;
}




/* Gallery 
----------------------------------------------------------------------------------------*/
.gallery_all {
	margin-top: 60px;
	position: relative;
}
.gallery_btn {
	width: 31.623932%;
}
.gallery_btn a {
	height: 29px;
	width: 100%;
	display: block;
	font-size: 1.21428571em; /* 17px */
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	background-color: #8DC63F;
	color: #fff;
	margin: 0;
	border-bottom: 1px solid #fff;
	padding-top: 6px;
}
.gallery_btn a:hover, .gallery_btn a.selected  {
	color: #572700;
	background: url(images/slider_btn_bkd.jpg) no-repeat top left #8DC63F;
}
.flexslider.gallery {
	width: 65.811966%;
	display: none;
	position: absolute;
	top: 0;
	right: 0;
}
.flexslider.gallery .flex-caption {
	position: absolute;
	left: -51.948052%;
	top: 160px;
	width: 48.051948%;
}
.flexslider.gallery .slides li {
	height: 66.88%;
}





/* Footer Styles
----------------------------------------------------------------------------------------*/




/* Blog Styles
----------------------------------------------------------------------------------------*/
.blog_feed li {
	background-color: #E9FFD7;
	width: 100%;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.post_meta {
	float: left;
	width: 29.059828%;
	padding-left: 2.564104%;
	text-align: right;
	margin-top: 24px;
}
.post_content{
	float: right;
	width: 63.247862%;
	padding-right: 2.564104%
}
.news_excerpt p {
	margin: 2px 0;
}
.news_excerpt a, .author_name {
	color: #572700;
	font-weight: bold;
	white-space: nowrap;
}
.news_excerpt a:hover {
	color: #8DC63F;
}
.more_blog a {
	color: #fff;
	font-size: 1.21428571em;
	font-weight: bold;
	background-color: #8DC63F;
	width: 160px;
	height: 30px;
	display: block;
	text-align: center;
	padding-top: 6px;
}
.more_blog a:hover {
	background-color: #572700;
}



article img {
	max-width: 100%;
	height: auto;
}
article p, article ul, article ol {
	font-size: 1.28571429em; /*18px*/
}
article h2, .page-id-17 h2, .page-id-17 h3 {
	text-align: left;
}
.page-id-17 h3 {
	font-size: 1.71428571em; /*24px*/
}
.page-id-17 article {
	margin: 30px 0;
border-top: 1px solid #572700;
padding: 20px 0;
}



/* Forms 
----------------------------------------------------------------------------------------*/
input[type=text],
input[type=password],
textarea {
	
}
input[type=text]:focus,
textarea:focus {

}
textarea {

}
input[type=text] {

}




/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
	width: 100%; 
	height: auto;
	display: block;
}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {
	margin: 0; 
	position: relative; 
	zoom: 1;
}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {
	width: 42px;
	height: 42px;
	margin: -20px 0 0; 
	display: block;
	background: url(images/bg_direction_nav.png) no-repeat 0 0; 
	opacity: 0;
	position: 
	absolute; top: 50%; 
	z-index: 10; 
	cursor: pointer; 
	text-indent: -9999px; 
	-webkit-transition:
	all .3s ease;
}
html.touch .flex-direction-nav a {
    opacity: 0.8;
}
.flex-direction-nav .flex-next {
	background-position: 100% 0; 
	right: -36px;
} 
.flex-direction-nav .flex-prev {
	left: -36px;
	transform: rotate(180deg);
	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Safari and Chrome */
}
.flexslider:hover .flex-next, html.touch .flex-next {opacity: 0.8; right: 3.88500303%;}
.flexslider:hover .flex-prev, html.touch .flex-prev {opacity: 0.8; left: 3.88500303%;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {
	width: 936px;
	margin: -36px auto 60px;
	position: relative;
}
.flex-control-nav li {margin: 0 0 0 12px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {
	width: 12px; 
	height: 12px; 
	display: block; 
	background: #007836;
	cursor: pointer;
	text-indent: -9999px;
	-webkit-border-radius: 6px; 
	-moz-border-radius: 6px; 
	-o-border-radius: 6px; 
	border-radius: 6px;
}
.flex-control-paging li a:hover, .flex-control-paging li a.flex-active { 
	background: #fff;
}

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}









/* Media Queries
----------------------------------------------------------------------------------------*/

/* medium-large sized screens */
@media screen and (max-width: 1870px) {
	.post_content {
		font-size: 0.92857143em; /* 13px */
	}
	.news_excerpt p {
		line-height: 1.35em;
	}
}
/* medium sized screens - 90% width */
@media screen and (max-width: 1260px) {
	header#branding, .section_wrapper, .paralax_nav {
		width: 90%;
	}
	.paralax_nav {
		left: 5%;
	}
	.flexslider h2 {
		left: 5%;
		margin-right: 5%;
	}
	.intro_text {
		font-size: 1.28571429em; /* 18px */
	}
	.category {
		font-size: 1.0666667em; /* 16px */
		margin: 60px 0 20px;
		line-height: 1.3em;
	}
	.post_content {
		font-size: 0.85714286em; /* 12px */
	}
}
@media screen and (max-width: 1024px) {
	.intro_text {
		font-size: 1.21428571em; /* 17px */
	}
	h2 {
		font-size: 2.133333em; /* 32px */
	}
}
/* top nav shift */
@media screen and (max-width: 1004px) {
	nav#access {
		float: left;
		border-bottom: 1px solid #5A3918;
		width: 98%;
		background-color: #fff;
		padding-left: 2%;
	}
	#headergroup {
		margin-left: 5%;
	}
	header#branding {
		width: 100%;
	}
	nav#access li {
		padding: 12px 18px 10px;
	}
	.flex-direction-nav a {
		width: 26px;
		height: 26px;
		background: url(images/gallery_arrow_small.png)  no-repeat 0 0; 
	}
	.menu-header_menu-container {
		float: none;
	}
}
/* small tablet size */
@media screen and (max-width: 600px) {
	h2 {
		font-size: 1.733333em; /* 26px */
	}
	h3 {
		font-size: 1.2em; /* 18px */
	}
	.intro_text, .gallery_btn a {
		font-size: 1.0666667em; /* 16px */
		width: 100%;
	}
	.category {
		width: 100%;
		margin: 30px auto 10px;
	}
	.category_icon {
		width: 20%;
	}
	.flexslider.gallery {
		width: 100%;
		top: 136px;
	}
	.section_9 .section_wrapper {
		height: 900px;
	}
	
	.flexslider.gallery .flex-caption {
		left: 0;
		top: 110%;
		width: 100%;
		font-size: 0.875em;
	}
	.gallery_btn {
		width: 100%;
	}
}
/* phone size */
@media screen and (max-width: 500px) {
	.paralax_nav {
		display: none;
	}
	#header_wrap, body.home #header_wrap.main_nav_top {
		position: absolute;
		display: block;
	}
	nav#access li {
		padding: 10px 12px 8px;
		font-size: 1em;
	}	
	.flexslider h2, .parallax_img {
		display: none;
	}
}

